RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
RABBITMQ_QUEUE_MESSAGES=messages_queue
RABBITMQ_QUEUE_NOTIFICATIONS=notifications_queue
TELEGRAM_BOT_TOKEN=your_bot_token_here
TELEGRAM_CHAT_ID=your_chat_id_here
